<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<div>
    <h1>New Ninja</h1>
</div>
<div>
    <form action="/ninjas" methods="post">
        <h1>New Ninja</h1>
        <div>
            <label for="dojo">Dojo</label>
            <select name="" dojo_id>
                {% for dojo in dojos %}
                <option value="{{ dojo_id }}">{{ dojo.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <button>Create</button>
        </div>
    </form>
    <button>Home</button>

</div>

<body>

</body>

</html>